.modal {
    position: fixed;
    background-color: rgb(50, 50, 50);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
    top: 7vh;
}

.modal-header, .modal-footer, 
.modal-body {
    padding: 10px;
}
