body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.back {
  text-align: left;
  padding: 10px 0;
}

.admin-page {
  width: 90vw;
  margin: 0 auto;
}

h2 {
  text-align: left;
}

button {
  background-color: black;
  border: none;
  color: white;
}

button:disabled {
  color: gray;
}

.decrease {
  position: absolute;
  top: 65px;
  left: 230px;
  font-size: 20px;
  cursor: pointer;
}

.increase {
  position: absolute;
  top: 65px;
  left: 260px;
  font-size: 20px;
  cursor: pointer;
}

.total {
  text-align: left;
}

.add {
  text-align: right;
  padding: 0.5em;
}

.add-icon {
  font-size: 20px;
  cursor: pointer;
}

.booking-list {
  padding: 1em;
  list-style: none;
  border-top: 1px solid white;
  /* text-align: left; */
  display: flex;
  justify-content: space-between;
}

.guest {
  font-size: 12px;
  padding-right: 5px;
}

.edit-icon {
  cursor: pointer;
}

.delete-icon {
  padding-left: 10px;
  cursor: pointer;
}

@media screen and (min-width: 560px) {
  .increase {
    left: 330px;
  } 

  .decrease {
    left: 300px;
  }
}

@media screen and (min-width: 780px) {
  .increase {
    left: 430px;
  } 

  .decrease {
    left: 400px;
  }
}