.home {
  padding: 50px;
}

/* .logo {
  height: 15vh;
  line-height: 15vh;
} */

.logo-img {
  height: 10vh;
  line-height: 10vh;
}

.bookingLink {
  padding: auto;
  margin: 100px auto;
  background-color: orange;
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
}

#book,
#table {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  line-height: 5vh;
}

#book {
  font-size: 70px;
}

#table {
  font-size: 30px;
}

#here {
  font-size: 50px;
}

.links {
  height: 10vh;
  line-height: 10vh;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .bookingLink {
    height: 40vh;
    width: 40vh;
    margin: 80px auto;
  }

  #book {
    font-size: 80px;
  }

  #table {
    font-size: 35px;
  }

  #here {
    font-size: 60px;
  }
}
