body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.back {
    text-align: left;
    padding: 10px 0;
}

.admin-page {
    width: 90vw;
    margin: 0 auto;
}

h2 {
    text-align: left;
}

.total {
    text-align: left;
}

.add {
    text-align: right;
    cursor: pointer;
}

.add-icon {
    background-color: black;
    color: white;
    border: none;
}

.booking-list {
    padding: 0.5em;
    list-style: none;
    border-top: 1px solid white;
    text-align: left;
}

ul {
    padding: 0;
}

li > span {
    padding-right: 50px;
}
 
